<div id="a">
           
<h1>About  DataIn  website</h1><br>
<p>This  is  an  aplication  that  helps  you    save  all  your  usernames  and  passwords  of  diffrent  accounts  that  you  have online.</p>

<p>Most  of  the  time,  if  you  don't  use  that  account  for  more  than  50  days,  studies  show  that  there  is  a  high  chance you  will  forget  it,  and  if  you  didn't  save  that  information  somewhere,  then  you  have  to  go from the  long  and  boring  process  to  ask  for  a  new  username  and  password.</p>

<p> This  application  will  help  you  avoid  all  that  waste of  time  by  just  opening  DataIn  account   and  find  the  account  and  password  you  need  in  DataIn  database.</p>

<P>Now  your  are  thinking... How  it  works? The  way  This  application  works  is  very  simple. You  need   to  create  an  account  by  answering  all  the  questions  it  asks. You  need  to  choose an  stong  username  and  password,  that  are  very  hard  to  get  memorized  from  other  people  who  want  to  access  your  database.</P>

<p>Also you  need  to  remember  these  username  and  password,  if  you  don't  want  to  go  through  the  long  process  to  change  them.</p>
<br>
<p>Is  this  application  safe?  How  safe is  your  sensitive  information in  this  application? When  it  comes  to  security  of  your  information,  this  application  takes  it  very  seriously. Our  service  is  to  keep  safe  your  information,  and  we  have  invested  a  lot  at  this  point.  Also, your  password  and  username  can't  be  accessed by  poeple  that  manage  the  application  becasuse  it  encrypts  all  that  information  and  can't  be  unencrypted.  The  only  way to  access  your  information  is  by  entering  the  write  username  and  password  that  you  have  assigned  with  that  account. So,  the  only  one  that  can  access  your account  is  you,  which  means  that your  database  is available  only  to  you  and  no one  inside  or  outside  the  company  can  access  it.</p>
<br>
<p>How  can  I  use  it?  It  is  also  very  simple.  You  need  to  open  your  DataIn  account, go  to accounts  and  click  the  add  account  button. It  will  open  a  new  page  where  you  have  to   enter  information  about  that  account,  like : username, Password, website, info  etc. and  then  click   create. When  you  go  to the  accounts  page,  it  will  be  available immediately at  that  database. You can  access  DataIn  anytime  you  need  information  about  that  account.It  is  highly  recommended  when  you  open  a  new  account  online,  you  should also  register  that  account in DataIn website in  order  to  have  it  in  your  database  anytime  you  want.</p>
<br>
<p>DataIn  Will  help  you  make  your  life  simple,  thats why  we  created  it!</p>

<p>Thank you!</p>
<hr>
</div>
