<%= stylesheet_link_tag "style.css" %>
<body>
<div style="margin: 0 auto;
            width: 80%;
            height: 900px;
            ">
            

 <div style="width:900px;
             height:270px;
             margin: 0 auto;          
             text-align: center;
             font-size: 50px;
             background-color: grey;
             opacity: 0.3;
             border-radius: 30px;">

             <p style="font-size: 65px;">DataIN</h1>
             <p>Save  your memory for more  important things</p>
  </div>

     <div style="width: 40%;
                 height: 550px;
                 margin: 0px;
                 margin-top: 30px;
                 display: inline-block;
                 color: violet;
                 opacity: 0.7;
                 ">
                 <h1>This  website  will  help  you  manage  your  online  accounts, keeping  them  secure  and  accessable  anytime</h1><br>
                 <h1>For  more  information  click  at  About us link  and  open  an  account  for  free</h1><br>
                 <h1>Thank  you  for  your time!</h1>
  </div>

   <div style="margin-right: 200px;
               margin-top: 100px;
               width:300px;
               height: 300px;
               text-align: center;
               color: black;
               float: right;
               background: rgba(255,255,255,0.5);
               border-radius: 40px;
               border-color: 2px violet;
               padding: 10px;
              ">
           <ul style=" padding-right: 50px;list-style-type: none;">  
           <% if current_user %>  
           <li><h2>Save your  accounts by clicking  the  below button!</h2></li>         
           <li><button class="button"><%= link_to "Save", new_lock_path %> </button></li>
          <% else %>
              <li><h2>Don't have  an  account  with  us?</h2></li>
              <li><h2>Please  register!</h2></li>
              <li><button class="button"><%= link_to "Register", new_user_registration_path %> </button></li>
          <% end %>                 
            </ul>
        </div>
            
   </div>
   
</body>