<div style="margin: 0 auto;
            width: 80%;
            height: 100%;">
            <div style="margin: 50px 0 0 0;
                        border: 3px violet;
                        border-radius: 30px;
                        padding: 30px;
                        width: 80%;
                        background:rgba(90,90,90,0.3);
                        color: black;
                        font-size: 25px;
                        font-family: 'calibri';">
  <h1>Thank  you  for  your interest  in  DataIN</h1>
  <br>
  <div class="p"><hr>
  <p>We  don't  have  any  available  positions  right  now</p>
  <p>but,  don't  get  discurieged</p>
  <p>You  can  send  your  resume directly  to  our  email  address, so  we  save  it  in  our  database  and  if  we  need  help  in  the  future,  we  will  contact  you immediately.</p>

  <p> Right  now  we  are  looking  for  professionals  who  want  to participate  in  our projects  we  want  to  build  in  the  future.</p>
  <p> This  is  a  good  possibility  for everyone  who  wants to  extend  his/her  experience  in  software  and  web  Development.</p>

  <p>If  this  sounds  good  to  you,  please  shoot  us  an  email</p>

  <p>We  will  respond  as  soon  as  possible</p>
  <p>For  contact  information  please  visit  Contact Us  page</p>

  <p>Wish  you  a  lovely  rest  of  the  day  and  happy  coding</p>

  <p>Thank  you !</p>  
  <hr>
  </div>
            </div>
</div>