<div style="margin: 0 auto;
            width: 80%;
            
            border: 3px violet;
            border-radius: 30px;
            padding: 30px 0px 30px 100px;
            font-size: 30px; 
            background:rgba(90,90,90,0.3);
            color: black;
            font-family: 'calibri';">
                 
            <h1 style="font-size: 35px;"><strong>welcome  to  contact  page</strong></h1><br>
            <h2 style="font-size: 25px;">In  order  to  serve  you  better,  please send  
            us  your  comments directly.</h2><br>

            <p style="font-size: 20px;">Telephone number : 45454545</p>
            <p style="font-size: 20px;">Address :  2348 82nd street, Brooklyn ,
                          NY,  11214</p>
            <p style="font-size: 20px;">Email  address: datain@FKsolutions.com</p> <br>

            <p> If  you  have  concearns  or  issues  using  this  website,  you  are  welcome  to  write  us  anytime. We  are  glad  to  assist you!</p>
            <p> Thank You!</p> <hr>
      </div>