<div style="margin: 0 auto;
            width: 80%;
            height: 900px;
            background-image: url(../images/12.jpg);
            background-repeat: no-repeat;
            background-size: cover;">
<h1>Info#privacy</h1>
<p>Find me in app/views/info/privacy.html.erb</p>
</div>